<style>
    .is_new{
        background-color: #bababa;
    }
</style>
<div class="row">
    <div class="col-md-10 col-md-offset-1 ">
        <h3 class="text-center">Administrar Atributos de {{ vm.title }} personalizados</h3>
        <hr/>
        <button class="btn btn-xs btn-info pull-right" ng-click="vm.add()">+ ADD NEW ATTRIBUTE</button>

        <form ng-submit="vm.submit()" name="cfgAttrForm" >
            <h4> Lista de atributos Activos </h4>

            <div class="table-responsive">
                <table id="basicTable" class="table table-hover" role="grid">
                    <thead class="old">
                    <th class="v-align-middle">Label</th>
                    <th class="v-align-middle">Type</th>
                    <th class="v-align-middle">Values</th>
                    <th class="v-align-middle">Default value</th>
                    <th class="v-align-middle">Required</th>
                    <th class="v-align-middle">Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prop in vm.properties" ng-class="{ is_new: prop.is_new == true }" ng-if="prop.status == 1">
                        <td class="v-align-middle" >
                            <!-- NOMBRE -->
                            <input type="text" class="form-control" placeholder="Etiqueta del attributo" ng-model="prop.attr_name" required>
                        </td>
                        <td class="v-align-middle">
                            <!-- TIPO -->
                            <select class="form-control" ng-model="prop.attr_type" required ng-disabled="prop.is_new != true">
                                <option value="LIST">Lista</option>
                                <option value="NUMBER">Numero</option>
                                <option value="TEXT">Texto corto</option>
                                <option value="TEXTAREA">Texto largo</option>
                            </select>
                        </td>
                        <td class="v-align-middle" >
                            <!-- LISTA DE VALORES -->
                            <input class="form-control" type="text" ng-model="prop.attr_values" ng-list placeholder="valores separados por coma">
                        </td>
                        <td class="v-align-middle" >
                            <!-- VALOR POR DEFECTO -->
                            <input class="form-control" type="text" placeholder="valor por defecto" ng-model="prop.attr_default">
                        </td>
                        <td class="v-align-middle">
                            <!-- REQUERIDO -->
                            <input type="checkbox" name="check" value="inline" ng-model="prop.attr_required">
                        </td>
                        <td class="v-align-middle">
                            <button ng-click="vm.destroy(prop)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <br/>
            <br/>
            <h4> Lista de atributos Inactivos </h4>
            <ul>
                <li ng-repeat="prop in vm.properties" ng-if="prop.status == 0" style="list-style: none">
                    <!-- NOMBRE -->
                    <input type="text" placeholder="Etiqueta del attributo" ng-model="prop.attr_name" required disabled>
                    <!-- TIPO -->
                    <select ng-model="prop.attr_type" required disabled>
                        <option value="LIST">Lista</option>
                        <option value="NUMBER">Numero</option>
                        <option value="TEXT">Texto corto</option>
                        <option value="TEXTAREA">Texto largo</option>
                    </select>
                    <!-- LISTA DE VALORES -->
                    <input type="text" ng-model="prop.attr_values" ng-list placeholder="valores separados por coma" disabled>
                    <!-- VALOR POR DEFECTO -->
                    <input type="text" placeholder="valor por defecto" ng-model="prop.attr_default" disabled>
                    <!-- REQUERIDO -->
                    <input type="checkbox" name="check" value="inline" ng-model="prop.attr_required" disabled> Requerido

                    <button ng-click="vm.restore(prop)" class="btn btn-info">RESTORE</button>
                    <hr/>
                </li>
            </ul>
            <br/>
            <br/>
            <button type="submit" class="btn btn-success pull-right">GUARDAR</button>
        </form>
        <p ng-if="vm.properties.length < 1">No tiene ningun attributo cargado.</p>
        <p>Nota: Al eliminar un attributo que no este asignado a ningun producto, este se perdera. En caso contrario, en cualquier otro momento se podra recuperar.</p>
    </div>
</div>