<div class="row">
    <div class="col-md-10 col-md-offset-1 ">
        
        <h2 class="text-center">Required data</h2>
        <hr/>
        <form role="form" ng-submit="vm.submit()" enctype="multipart/form-data">
            <!-- LOGO -->
            <div class="form-group form-group-default required">
                <label for="data_required__logo">Logo</label>
                <input type='file' file-model='logo' accept="image/*">
            </div>

            <!-- PAISES CON LOS QUE TRABAJA (Se puede seleccionar mas de 1) -->
            <div class="form-group form-group-default required">
                <label for="data_required__country_work">Country work</label>
                <countries countries="$scope.countries" attr-model="countrySel"  ></countries>

            </div>

            <!-- Moneda con la que trabaja -->
            <div class="form-group form-group-default required">
                <label for="data_required__money">Money</label>
                <select ng-model="vm.money" id="data_required__money" class="form-control">
                    <option value="$">ARG</option>
                    <option value="B$">BR</option>
                    <option value="CH$">CH</option>
                </select>
            </div>
            
            <!-- Si trabaja con puntos -->
            <div class="form-group form-group-default required">
                <label for="data_required__worked_points">Work points</label>
                <input type="checkbox" ng-model="vm.work_point" id="data_required__worked_points" >

            </div>

            <!-- Si trabaja teniendo cuenta el stock -->
            <div class="form-group form-group-default required">
                <label for="data_required__worked_stock">Work stock</label>
                <input type="checkbox" ng-model="vm.work_stock" id="data_required__worked_stock">
            </div>


            <div class="form-group form-group-default required">
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid">Submit</button>
            </div>
        </form>
        
    </div>
    <div class="row"><hr/></div>
</div>