<ul class="nav nav-tabs nav-tabs-simple p-b-10" role="tablist">
    <li ng-class="{active: vm.tab == 1 }"><a ng-click="vm.tab = 1;" >Datos de la empresa</a></li>
    <li ng-class="{active: vm.tab == 2 }"><a ng-click="vm.tab = 2;" >Attributos de producto</a></li>
    <li ng-class="{active: vm.tab == 3 }"><a ng-click="vm.tab = 3;" >Attributos de usuarios</a></li>
</ul>
<div ng-show="vm.tab == 1" ng-class="{active: vm.tab == 1 }">
    <div template-path="/static/dashboard/modules/company/templates/update-company.html"  controller-name="CompanyUpdateController as vm">
    </div>
</div>
<div ng-show="vm.tab == 2" ng-class="{active: vm.tab == 2 }">
    <div template-path="/static/dashboard/modules/company/templates/config-attrs.html"  controller-name="ConfigAttributeController as vm">
    </div>
</div>
<div ng-show="vm.tab == 3" ng-class="{active: vm.tab == 3 }">
    <div template-path="/static/dashboard/modules/company/templates/config-attrs.html"  controller-name="ConfigAttributeUserController as vm">
    </div>
</div>