<div class="row">
    <div class="col-md-10 col-md-offset-1 ">

        <h3 class="text-center">Editando datos de la empresa</h3>
        <hr/>
        <form role="form" ng-submit="vm.submit()" enctype="multipart/form-data">

            <div class="col-md-6 col-md-offset-3">
                <div class="form-group form-group-default">
                    <label for="company__name">Company name</label>
                    <input class="form-control" type="text" ng-model="vm.company.company_name" required="true"/>
                </div>

                <!-- PAISES CON LOS QUE TRABAJA (Se puede seleccionar mas de 1) -->
                <div class="form-group form-group-default">
                    <label for="data_required__country_work">Country work</label>
                    <select name="user_type"
                            ng-model="vm.company.country_work"
                            ng-required="true"
                            class="form-control"
                            required-message="'El campo tipo de usuario es requerido.'"
                            select-service services="/api/utils/countries/"
                            ></select>
                </div>

                <!-- Moneda con la que trabaja -->
                <div class="form-group form-group-default">
                    <label for="company__money">Money</label>
                    <select ng-model="vm.company.money" id="company__money" class="form-control">
                        <option value="$">ARG</option>
                        <option value="B$">BR</option>
                        <option value="CH$">CH</option>
                    </select>
                </div>

                <!-- Si trabaja con puntos -->
                <div class="form-group form-group-default">
                    <label for="company__worked_points">Work points</label>
                    <input type="checkbox" ng-model="vm.company.work_point" id="company__worked_points" >

                </div>

                <!-- Si trabaja teniendo cuenta el stock -->
                <div class="form-group form-group-default">
                    <label for="company__worked_stock">Work stock</label>
                    <input type="checkbox" ng-model="vm.company.work_stock" id="company__worked_stock">
                </div>


                <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid">Guardar</button>
            </div>
        </form>

    </div>
</div>