<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Agregar</span> Lista de Precio</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">
        <form role="form" angular-validator-submit="vm.submit()" name="formCreatePriceList" enctype="multipart/form-data" novalidate angular-validator>
            <!-- price list NAME -->
            <div class="form-group form-group-default required">
                <label for="price-list__name">Name</label>
                <input class="form-control"
                       type="text"
                       name="price-list__name"
                       ng-model="vm.obj.name"
                       ng-required="true"
                       ng-minlength="3"
                       invalid-message="'Caracteres minimo: 3.'"
                       required-message="'Este campo es requerido!'"
                       validate-on="blur"/>
            </div>

            <!-- price_list DESCRIPTION -->
            <div class="form-group form-group-default required">
                <label for="price_list__description">Description</label>
                <textarea row="3" class="form-control" ng-model="vm.obj.description">
                </textarea>
            </div>

            <!-- price list Discount -->
            <div class="form-group form-group-default required">
                <label for="percent__increment">Descuento </label>
                <input type="number" class="form-control"
                       ng-model="vm.obj.discount"
                       ng-required="true"
                       required-message="'Este campo es requerido!'"
                       validate-on="blur"/>
            </div>
            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formCreatePriceList.$invalid"><i class="pg-save"></i> Guardar</button>
                    <button class="btn btn-default" type="button" ng-click="vm.cancel()"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>