<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <button class="btn btn-info btn-xs pull-right" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="fa fa-pencil"></i></button>
        <h4 class="text-center"><span class="semi-bold">Detalle</span> Tipo de Usuario</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">

        <!-- DETAIL USER TYPE -->
        <div class="col-md-10 col-md-offset-1" ng-if="!vm.objEdit">
            <h3 class="text-center">{{ vm.obj.name }}</h3>
            <hr/>
            Date: {{ vm.obj.date }} <br/>

            Description: {{ vm.obj.description}} <br/>
            Descuento: {{ vm.obj.discount }} %
        </div>

        <form role="form" ng-if="vm.objEdit" angular-validator-submit="vm.submit()" name="formCreatePriceList" enctype="multipart/form-data" novalidate angular-validator>
            <!-- price list NAME -->
            <div class="form-group form-group-default required">
                <label for="price-list__name">Name</label>
                <input class="form-control"
                       type="text"
                       name="price-list__name"
                       ng-model="vm.obj.name"
                       ng-required="true"
                       ng-minlength="3"
                       invalid-message="'Caracteres minimo: 3.'"
                       required-message="'Este campo es requerido!'"
                       validate-on="blur"/>
            </div>

            <!-- PRICE LIST DESCRIPTION -->
            <div class="form-group form-group-default required">
                <label for="obj__description">Description</label>
                <textarea row="3" class="form-control" ng-model="vm.obj.description">
                </textarea>
            </div>

            <!-- PRICE LIST Discount -->
            <div class="form-group form-group-default required">
                <label for="percent__increment">Descuento </label>
                <input type="number" class="form-control"
                       ng-model="vm.obj.discount"
                       ng-required="true"
                       required-message="'Este campo es requerido!'"
                       validate-on="blur"/>
            </div>
            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formCreatePriceList.$invalid"><i class="pg-save"></i> Guardar </button>
                    <button class="btn btn-default" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>



















<div class="row">
    <button type="button" class="btn pull-left" ng-click="vm.close()"><i class="fa fa-times"></i></button>

    <!-- DETAIL PRICE LIST -->
    <div class="col-md-10 col-md-offset-1" ng-if="!vm.objEdit">

    </div>


    <!-- UPDATE PRICE LIST -->
    <div class="col-md-10 col-md-offset-1" ng-if="vm.objEdit">
        <h3 class="text-center">Editando lista de precio para {{ vm.obj.name }}</h3>
        <hr/>
        <form role="form" angular-validator-submit="vm.submit()" name="formCreatePriceList" enctype="multipart/form-data" novalidate angular-validator>



            <div class="col-md-12">
                <hr/>
                <button type="submit" ng-disabled="formCreatePriceList.$invalid" class="btn btn-primary pull-right">
                    <i class="fa fa-floppy-o"></i> Guardar
                </button>

                <button class="btn btn-info pull-right" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="fa fa-times"></i> Cancel</button>

            </div>
        </form>
    </div>
</div>