.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top{
    width: 250px;
}

.has-error{
    border-color: #CD4945;
}
.is-error{
    color: #CD4945;
}

.check-field{
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 10px;
    background-color: #0DAD9E;
    padding: 2px;
}

.dropdown-filter{
    width: 100%;
    padding: 5px;
}

.dropdown-filter li{
    padding: 4px;
}

.dropdown-filter .active{
    border-left: 2px solid #003399;
}


.table tbody tr td{
    vertical-align: middle !important;
}

.page-container{
    overflow: hidden;
    height: 100%;
}

.page-container .page-content-wrapper{
    height: 100%;
    padding-top: 60px;
}

.page-container .page-content-wrapper .content{
    height: 100%;
    overflow-y: auto;
    padding-top: 0px;
}
