<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Importar</span> Productos</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">
        <h3 class="text-center">Import file csv to generate product</h3>
        <hr/>
        <form role="form" ng-submit="vm.submit()" name="formImportCSV" enctype="multipart/form-data">
            <!-- PRODUCT IMAGES -->
            <div class="form-group form-group-default required col-md-6">
                <label for="file__csv">File csv : </label>
                <!-- <input type='file' file-model='filecsvproduct' accept="csv/*">
                 <br/>
                 <input type="file" ng-change="vm.load_csv()" accept="csv/*" ng-model="vm.filecsv">
                 <br/>-->
                <input type="file" file-reader="fileContent" file-model='filecsvproduct' accept="csv/*"/>
                <p>Upload file to config fields.</p>
                <div style="height: 400px;"><p style="text-overflow: ellipsis;">{{fileContent}}</p></div>
            </div>
            <div class="form-group form-group-default required col-md-6">
                <table class="table" ng-if="vm.config" style="border: 1px solid;">
                    <thead>
                    <tr>
                        <th> Header csv</th>
                        <th> Example</th>
                        <th> Product attribute </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attr in vm.config">
                        <th>
                            {{ attr.column_name }}
                        </th>
                        <th>
                            {{ attr.example }}
                        </th>
                        <th>
                            <select ng-model="attr.name"
                                    ng-change="vm.selected_attr(attr)"
                                    class="form-control"
                                    ng-options="obj.value as obj.label for obj in vm.list_attr_product">

                            </select>
                        </th>
                    </tr>
                    </tbody>
                </table>



                <div ng-if="vm.list_attr_required">
                    <p>Complete los atributos requeridos que faltan o seleccione una columna del archivo csv. <br/>
                    Tener en cuenta que lo que se agregue en los attributos, van a ser para todos los productos iguales.</p>
                    <ul >
                        <li ng-repeat="attr_req in vm.list_attr_required">
                            <label>{{ attr_req.label }} :</label><input type="text" ng-model="attr_req.default_value" ng-required="true" />
                        </li>
                    </ul>

                    <button type="button" class="btn btn-info pull-right" ng-click="vm.completeAttributeRequired()">Aceptar</button>
                </div>


            </div>
            <br>
            <hr>

            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formImportCSV.$invalid"><i class="fa fa-paper-plane"></i> Enviar</button>
                    <button class="btn btn-default" type="button" ng-click="vm.cancel()"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>

    </div>
</div>
