<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <p>productos</p>
        </li>
        <li><a href="#" class="active">Listado de productos</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="col-sm-6 p-l-5">
        <h3 class="page-title">Listado de Productos</h3>
    </div>
    <div class="btn-group pull-right m-b-10">
              <span class="b-grey b-r p-l-15 p-r-15 ">
                  <button class="btn btn-info btn-sm" type="button" ng-click="vm.objNew = !vm.objNew;">
                      <i class="fa fa-plus"></i> Producto
                  </button>
              </span>
              <span class="b-grey b-r p-l-15 p-r-15 ">
                    <button class="btn btn-info  btn-sm" type="button" ng-click="vm.importCSV = !vm.importCSV">
                        <i class="fa fa-upload"></i> Importar Productos (CSV)
                    </button>
              </span>

              <span class="p-l-15 ">
                <div class="btn-group dropdown-default">
                    <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" href="#" style="width: 140px;"> Agregar...
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu " style="width: 140px;">
                        <li><a ui-sref="categories">Categorias</a></li>
                    </ul>
                </div>
              </span>
    </div>
</div>
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg " cg-busy="vm.requestPromise">
    <!-- START PANEL -->
    <div class="panel panel-default " >

        <div class="panel-heading">
            <div class="col-md-5  m-b-30">
                <div class="input-group transparent">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search text..." class="form-control" ng-model="vm.search_text" ng-change="vm.change_search_text()"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-xs" ng-click="vm.clear_text()" ng-show="vm.search_text != '' ">X</button>
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Filtrar Por <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-filter" role="menu">
                            <li ng-click="vm.search_field = 'sku';" ng-class="{active: vm.search_field == 'sku'}">SKU</li>
                            <li ng-click="vm.search_field = 'name';" ng-class="{active: vm.search_field == 'name'}">Name</li>
                            <li ng-click="vm.search_field = 'cost_price';" ng-class="{active: vm.search_field == 'cost_price'}">Cost Price</li>
                            <li ng-click="vm.search_field = 'sale_price';" ng-class="{active: vm.search_field == 'sale_price'}">Sale Price</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="btn-group col-md-3 ">
                <div class="pull-right">
                    <span class="b-grey  p-l-15 ">
                      <div class="btn-group ">
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-save"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-copy"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-clipboard"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-paperclip"></i>
                          </button>
                      </div>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" >
            <div class="table-responsive">
                <table class="table table-hover"  ng-table="vm.tableParams">
                    <tr ng-repeat="product in $data">
                        <td class="v-align-middle col-md-1" ><img src="{{ image.image }}" ng-repeat="image in product.images" ng-if="image.default" width="40" height="40" alt=""/> </td>
                        <td class="v-align-middle col-md-1" data-title="'COD'" sortable="'sku'">{{ product.sku}}</td>
                        <td class="v-align-middle col-md-6" data-title="'Name'" sortable="'name'">{{ product.name }} <br> <small>{{ product.description}}</small></td>
                        <td class="v-align-middle col-md-1" data-title="'Cost $'" sortable="'cost_price'">{{ product.cost_price | currency:"$"}}</td>
                        <td class="v-align-middle col-md-1" data-title="'Sale $'" sortable="'sale_price'">{{ product.sale_price | currency:"$"}}</td>
                        <td class="v-align-middle col-md-2 text-center" data-title="'Actions'">
                            <button class="btn btn-xs" ng-really-message="Are you sure ?" ng-really-click="vm.destroy(product)" item="user"><i class="pg-trash"></i></button>
                            <button ng-click="vm.edit_obj(product)"  class="btn btn-xs"><i class="pg-arrow_lright_line_alt"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<pageslide ps-open="vm.objNew" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/product/templates/new-product.html" controller-name="NewProductController as vm">
    </div>
</pageslide>

<pageslide ps-open="vm.objEdit" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/product/templates/update-product.html" controller-name="UpdateProductController as vm">
    </div>
</pageslide>

<pageslide ps-open="vm.importCSV" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/product/templates/import-csv-product.html" controller-name="ImportCsvProductController as vm">
    </div>
</pageslide>

