<div class="panel panel-default" style="height: 100%;">

<div class="panel-heading">
    <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
    <button class="btn btn-info btn-xs pull-right" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="fa fa-pencil"></i></button>
    <h4 class="text-center"><span class="semi-bold">Detalle</span> Producto</h4>
</div >
<div class="panel-body" cg-busy="vm.requestPromise">

<!-- DETAIL -->
<div class="col-md-10 col-md-offset-1" ng-if="!vm.objEdit">
    <h3 class="text-center">{{ vm.obj.name }}</h3>
    <hr/>
    <div class="col-md-12 text-center" style="position: relative;">
        <img src="{{ image.image }}" ng-repeat="image in vm.obj.images" ng-if="vm.flag_img_show == $index" height="400px" style="margin-left: 15%" alt=""/>
        <div style="position: absolute; top: 190px; width: 100%">
            <button class="btn pull-left" ng-click="vm.flag_img_show = vm.flag_img_show - 1;" ng-disabled="vm.flag_img_show == 0"> <i class="fa fa-chevron-left"></i> </button>
            <button class="btn pull-right" ng-click="vm.flag_img_show = vm.flag_img_show + 1;" ng-disabled="vm.flag_img_show == (vm.obj.images.length - 1)"> <i class="fa fa-chevron-right"></i> </button>
        </div>
    </div>

    SKU : {{ vm.obj.sku }} <br/>
    Cost Price : $ {{ vm.obj.cost_price }} <br/>
    Sell Price : $ {{ vm.obj.sell_price }} <br/>

</div>

<!-- EDIT -->
<form role="form" ng-if="vm.objEdit" angular-validator-submit="vm.submit()" name="formObject" enctype="multipart/form-data" novalidate angular-validator>
<ul class="nav nav-tabs nav-tabs-simple p-b-10" role="tablist">
    <li ng-class="{active: vm.tab == 1 }"><a ng-click="vm.tab = 1;" >Datos <br/> Principales</a></li>
    <li ng-class="{active: vm.tab == 2 }"><a ng-click="vm.tab = 2;" >Datos <br/> Adicionales</a></li>
    <li ng-class="{active: vm.tab == 3 }"><a ng-click="vm.tab = 3;" >Attributos <br/> Variaciones</a></li>
    <li ng-class="{active: vm.tab == 4 }"><a ng-click="vm.generate_product_variations()" >Detalles <br/> Variaciones</a></li>
</ul>

<!-- TAB DATOS PRINCIPALES -->
<div ng-show="vm.tab == 1" ng-class="{ active: vm.tab == 1 }">
    <div class="row ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <!-- NAME -->
                    <div class="form-group form-group-default required">
                        <label>Nombre</label>
                        <input class="form-control"
                               type="text"
                               name="product__name"
                               ng-model="vm.obj.name"
                               ng-required="true"
                               ng-minlength="3"
                               invalid-message="'Caracteres minimo: 3.'"
                               required-message="'Este campo es requerido!'"
                               validate-on="blur"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- SKU -->
                    <div class="form-group form-group-default">
                        <label for="product__sku">SKU</label>
                        <input class="form-control"
                               type="text"
                               name="product__sku"
                               ng-model="vm.obj.sku"
                               placeholder="ex. A90F119"
                               ng-required="true"
                               ng-minlength="3"
                               invalid-message="'Caracteres minimo: 3.'"
                               required-message="'Este campo es requerido!'"
                               validate-on="blur"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- PRODUCT PRICE COST -->
                    <div class="form-group form-group-default required">
                        <label for="product__cost_price">Price cost</label>
                        <input class="form-control"
                               type="number"
                               name="product__cost_price"
                               ng-model="vm.obj.cost_price"
                               ng-required="true"
                                />
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- PRODUCT PRICE SELL -->
                    <div class="form-group form-group-default required">
                        <label for="product__sell_price">Price sell</label>
                        <input class="form-control"
                               type="number"
                               name="product__sell_price"
                               ng-model="vm.obj.sale_price"
                               ng-required="true"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- PRODUCT CATEGORY -->
                    <div class="form-group form-group-default required">
                        <label for="product__category">Category</label>
                        <select name="product__category"
                                ng-model="vm.obj.category"
                                ng-required="true"
                                class="form-control"
                                required-message="'El campo categoria es requerido.'"
                                select-service services="/api/products/categories/"
                                ></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- PRODUCT POINT -->
                    <div class="form-group form-group-default">
                        <label for="product__point">Points</label>
                        <input class="form-control" type="number" id="product__point" ng-model="vm.obj.score"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- PRODUCT DESCRIPTION -->
                <div class="form-group form-group-default">
                    <label for="product__description">Description</label>
                    <textarea row="3" class="form-control" ng-model="vm.obj.description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div >

<!-- TAB DATOS ADICIONALES -->
<div ng-show="vm.tab == 2" ng-class="{active: vm.tab == 2 }">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <!-- PRODUCT IMAGES -->
                    <div class="form-group form-group-default">
                        <label for="product__images">Images</label>
                        <upload-images uploaded-images="{{ vm.obj.images }}" files-model="images">

                        </upload-images>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div ng-show="vm.tab == 3" ng-class="{active: vm.tab == 3 }">
    <div class="row">
        <!-- STOCK VARIATIONS -->
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label for="product__mstock">Stock Minimo :</label>
                <input class="form-control" type="number" id="product__mstock" ng-model="vm.minimun_stock"/>
            </div>
        </div>

        <div class="col-md-12">
            <h3>Attributos <button class="btn btn-warning pull-right"
                                   ng-if="vm.properties.length > vm.attributes.length"
                                   type="button"
                                   ng-click="vm.add_attribute()">
                <i class="fa fa-plus"> </i>
                Agregar attributo
            </button></h3>
        </div>
        <div class="col-md-12">
            <div ng-repeat="attr in vm.attributes">
                <label>Attributo </label>
                <button class="btn btn-xs btn-danger pull-right"
                        type="button"
                        ng-click="vm.delete_attribute(attr)"><i class="fa fa-times"></i></button>
                <select class="form-control"
                        ng-show="attr.selected == false"
                        ng-change="vm.change_select_attribute(attr)"
                        ng-model="attr.selected"
                        ng-options="prop.id as prop.attr_name for prop in vm.properties | filter:{selected: '!true'}">
                </select>
                <dynamic-field ng-if="attr.prop_selected"
                               attr-model="properties"
                               attr-name="{{ attr.prop_selected.attr_name }}"
                               attr-values="{{ attr.prop_selected.attr_values }}"
                               attr-type="{{ attr.prop_selected.attr_type }}"
                               attr-required="{{ attr.prop_selected.attr_required }}"
                               attr-default="{{ attr.prop_selected.attr_default }}"
                               attr-id="{{ attr.prop_selected.id }}"
                               attr-value="{{ attr.prop_selected.values }}">
                </dynamic-field>

            </div>
        </div>

    </div>
</div>

<!-- TAB DETALLE DE VARIACIONES -->
<div ng-show="vm.tab == 4" ng-class="{active: vm.tab == 4 }">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <table class="table" ng-if="vm.obj.product_variations.length > 0">
                        <thead>
                        <th>Stock Minimo</th>
                        <th ng-repeat="prop in vm.properties | filter:{selected: 'true'}"> {{ prop.attr_name}}</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="variation in vm.obj.product_variations">
                            <td>
                                <input class="form-control" type="number" ng-model="variation.minimun_stock" />
                            </td>
                            <td ng-repeat="property in variation.properties">
                                <input class="form-control" disabled="true" type="text" ng-model="variation.properties[$index].value" />
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-click="vm.delete_variation(variation)" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
    <div class="text-center">
        <button class="btn btn-success" type="submit" ng-disabled="formObject.$invalid"><i class="pg-save"></i> Guardar</button>
        <button class="btn btn-default" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="pg-close"></i> Cancelar</button>
    </div>

</div>
</form>
</div>
</div>
