<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <p>Usuarios</p>
        </li>
        <li>
            <a ui-sref="users" >Listado de usuarios</a>
        </li>
        <li>
            <a class="active" >Listado de tipos usuarios</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="col-sm-6 p-l-5">
        <h3 class="page-title">Listado de Tipos Usuarios</h3>
    </div>
    <div class="btn-group pull-right m-b-10">

              <span class="b-grey b-r p-l-15 p-r-15 ">
                  <button class="btn btn-info  btn-sm" type="button" ng-click="vm.objNew = !vm.objNew">
                      <i class="fa fa-plus"></i> Tipo Usuario
                  </button>
              </span>

              <span class="p-l-15 ">
                <div class="btn-group dropdown-default">
                    <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" href="#" style="width: 140px;"> Agregar...
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu " style="width: 140px;">
                        <li><a ui-sref="user-types">Tipo de usuario</a></li>
                    </ul>
                </div>
              </span>

    </div>
</div>
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg " cg-busy="vm.requestPromise">
    <!-- START PANEL -->
    <div class="panel panel-default " >

        <div class="panel-heading">
            <div class="col-md-5  m-b-30">
                <div class="input-group transparent">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search text..." class="form-control" ng-model="vm.search_text" ng-change="vm.change_search_text()"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-xs" ng-click="vm.clear_text()" ng-show="vm.search_text != '' ">X</button>
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Filtrar Por <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-filter" role="menu">
                            <li ng-click="vm.search_field = 'name';" ng-class="{active: vm.search_field == 'name'}">Name</li>
                            <li ng-click="vm.search_field = 'comision';" ng-class="{active: vm.search_field == 'comision'}">Comision</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="btn-group col-md-3 ">
                <div class="pull-right">
                    <span class="b-grey  p-l-15 ">
                      <div class="btn-group ">
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-save"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-copy"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-clipboard"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-paperclip"></i>
                          </button>
                      </div>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" >
            <div class="table-responsive">
                <table class="table table-hover"  ng-table="vm.tableParams">
                    <tr ng-repeat="user_type in $data">
                        <td class="v-align-middle col-md-3" data-title="'Name'" sortable="'name'">{{ user_type.name }}</td>
                        <td class="v-align-middle col-md-5" data-title="'Description'">{{ user_type.description}}</td>
                        <td class="v-align-middle col-md-2" data-title="'Comision'" sortable="'comision'"> {{ user_type.comision}}%</td>
                        <td class="v-align-middle col-md-2" data-title="'Actions'">
                            <button class="btn btn-xs" ng-really-message="Are you sure ?" ng-really-click="vm.destroy(user_type)" item="user_type"><i class="pg-trash"></i></button>
                            <button ng-click="vm.edit_obj(user_type)" class="btn btn-xs"><i class="pg-arrow_lright_line_alt"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<pageslide ps-open="vm.objEdit" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/user-type/templates/update-user-type.html" controller-name="UpdateUserTypeController as vm">
    </div>
</pageslide>

<pageslide ps-open="vm.objNew" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/user-type/templates/new-user-type.html" controller-name="NewUserTypeController as vm">
    </div>
</pageslide>