<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Agregar</span> Tipo de Usuario</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">
        <form role="form" angular-validator-submit="vm.submit()" name="formCreateUserType" enctype="multipart/form-data" novalidate angular-validator>
            <div class="col-md-6">
                <!-- user-type NAME -->
                <div class="form-group form-group-default required">
                    <label for="user-type__name">Name</label>
                    <input class="form-control"
                           type="text"
                           name="user-type__name"
                           ng-model="vm.obj.name"
                           ng-required="true"
                           ng-minlength="3"
                           invalid-message="'Caracteres minimo: 3.'"
                           required-message="'Este campo es requerido!'"
                           validate-on="blur"/>
                </div>


                <!-- user type DESCRIPTION -->
                <div class="form-group form-group-default">
                    <label for="price_list__description">Description</label>
                    <textarea style="min-height: 100px;" class="form-control" ng-model="vm.obj.description">
                    </textarea>
                </div>
            </div>
            <div class="col-md-6">
                <!-- user type Comision -->
                <div class="form-group form-group-default required">
                    <label for="user-type__comision">Comision</label>
                    <input class="form-control"
                           type="number"
                           name="user-type__comision"
                           ng-model="vm.obj.comision"
                           ng-required="true"
                           invalid-message="'Caracteres minimo: 3.'"
                           required-message="'Este campo es requerido!'"
                           validate-on="blur"/>
                </div>

                <!-- user-type permission -->
                <div class="form-group form-group-default required">
                    <label for="user-type__permission_group">Permission</label>
                    <select name="permission_group"
                            ng-model="vm.obj.permission_group"
                            ng-required="true"
                            class="form-control"
                            required-message="'El campo es requerido'"
                            select-service services="/api/permissions/"
                            attr-name="name"
                            ></select>
                </div>

                <!-- user type price list -->
                <div class="form-group form-group-default required">
                    <label for="user-type__price_list">Price List</label>
                    <select name="price_list"
                            ng-model="vm.obj.price_list"
                            ng-required="true"
                            class="form-control"
                            required-message="'El campo es requerido'"
                            select-service services="/api/price-list/"
                            attr-name="name"
                            ></select>
                </div>
            </div>
            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formCreateUserType.$invalid"><i class="pg-save"></i> Guardar</button>
                    <button class="btn btn-default" type="button" ng-click="vm.cancel()"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>
