<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Code: {{ vm.dispatch.traking_code }}</h3>
        <hr/>
        Date: {{ vm.dispatch.date }} <br/>
        Notes: {{ vm.dispatch.notes }} <br/>
    </div>
</div>
