<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Despacho de pedidos</h3>
        <hr/>
        <ul>
            <li ng-repeat="order in vm.orders">
                {{ order.description }}
                {{ order.date }}
                <button class="btn btn-success" type="button" ng-click="vm.dispatch_all(order)">Despachar todo el pedido</button>
                <input type="checkbox" ng-model="order.detail" />
                <div class="table-responsive col-md-12" ng-show="order.detail">
                    <h3>Order Details</h3>
                    <table id="basicTable" class="table table-hover" role="grid">
                        <thead class="old">
                        <th class="v-align-middle">Product</th>
                        <th class="v-align-middle">Quantity</th>
                        <th class="v-align-middle">Quantity dispatch</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="detail in order.details">
                            <td class="v-align-middle" >{{ detail.id }}</td>
                            <td class="v-align-middle">{{ detail.need_quantity }}</td>
                            <td class="v-align-middle" >
                                <input type="number" ng-model="detail.quantity_dispatched" />
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <button class="btn btn-xs btn-success" ng-click="vm.dispatch_custom(order)" type="button">Despachar Pedido</button>
                </div>

            </li>
        </ul>
        <div class="row"><hr/></div>
    </div>
</div>
