<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Order by {{ vm.order.user }}</h3>
        <hr/>
        Date: {{ vm.order.date }} <br/>
        Cancellation date: {{ vm.order.cancellation_date }}
        Description: {{ vm.order.description}} <br/>
        Descuento: {{ vm.order.discount }} %
    </div>
</div>
