<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">New Price List</h3>
        <hr/>
        <form role="form" ng-submit="vm.submit()" enctype="multipart/form-data">

            <!-- ORDER BY USER CHILD -->
            <div class="form-group form-inline" ng-show="vm.users.length > 0">
                <label>Elegir usuario hijo</label>
                <input type="checkbox" ng-model="vm.custom_user" ng-change="vm.changeSelectUser()"/>
                <select class="form-control" ng-show="vm.custom_user" ng-model="vm.order.user" data-ng-options="user.id as user.last_name for user in vm.users">
                </select>
            </div>
            <!-- price_list DESCRIPTION -->
            <div class="form-group form-group-default required">
                <label for="price_list__description">Description</label>
                <textarea row="3" class="form-control" ng-model="vm.order.description">
                </textarea>
            </div>
            <hr/>
            <h3> Select the product for order </h3>
            <div class="table-responsive">
                <table id="basicTable" class="table table-hover" role="grid">
                    <thead class="old">
                    <th class="v-align-middle">Name</th>
                    <th class="v-align-middle">Price</th>
                    <th class="v-align-middle">Quantity</th>
                    <th class="v-align-middle">Select</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detail in vm.catalog_details">
                        <td class="v-align-middle" >{{ detail.product_name }}</td>
                        <td class="v-align-middle">{{ detail.custom_price }}</td>
                        <td class="v-align-middle" >
                            <input class="form-control" type="number" required="true" ng-disabled="!detail.check" ng-change="vm.changeQuantity(detail)" ng-model="detail.quantity"/>
                        </td>
                        <td class="v-align-middle" >
                            <select class="form-control" ng-disabled="!detail.check" ng-model="detail.product_variation" data-ng-options="variation.id as variation.name for variation in detail.product_variations">
                            </select>
                        </td>
                        <td class="v-align-middle">
                            <input type="checkbox" ng-model="detail.check" ng-click="vm.selectDetail(detail)" />
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <hr/>
            <p>Costo: ${{ vm.cost }}</p>
            <p>Venta: ${{ vm.total_price }}</p>
            <p>Ganancia: ${{ vm.profit }}</p>
            <div class="row"><hr/></div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">
                    Submit
                </button>
            </div>

        </form>
        <div class="row"><hr/></div>
    </div>
</div>
