<div class="row">
    <div class="col-md-10 col-md-offset-1 ">
        <h3 class="text-center">Update Price List</h3>
        <hr/>
        <form role="form" ng-submit="vm.submit()" enctype="multipart/form-data">
            <div class="col-md-6">
                <!-- price list NAME -->
                <div class="form-group form-group-default required">
                    <label for="order__name">Name</label>
                    <input class="form-control" type="text" id="order__name" ng-model="vm.price_list.name"/>
                </div>


                <!-- price_list DESCRIPTION -->
                <div class="form-group form-group-default required">
                    <label for="price_list__description">Description</label>
                    <textarea row="3" class="form-control" ng-model="vm.price_list.description">
                    </textarea>
                </div>

                <!-- price list Discount -->
                <div class="form-group form-group-default required">
                    <label for="percent__increment">Descuento </label>
                    <input type="number" class="form-control" ng-model="vm.price_list.discount"/>
                </div>

            </div>

            <div class="row"><hr/></div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">
                    Submit
                </button>
            </div>

        </form>
        <div class="row"><hr/></div>
    </div>
</div>