<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <div class="">
            <form role="form" ng-submit="vm.register()">

                <!-- EMAIL -->
                <div class="form-group form-group-default required">
                    <label for="register__email">Email</label>
                    <input type="email" class="form-control" id="register__email" ng-model="vm.email" required placeholder="ex. email@email.com" />
                </div>

                <!-- NOMBRE DE LA EMPRESA -->
                <div class="form-group form-group-default required">
                    <label for="register__company_name">Company name</label>
                    <input type="text" class="form-control" id="register__company_name" required ng-model="vm.company_name" placeholder="ex. Nubiquo SA" />
                </div>

                <!-- CONTRASEÑA -->
                <div class="form-group form-group-default required">
                    <label for="register__password">Password</label>
                    <input type="password" class="form-control" id="register__password" required ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
                </div>

                <div class="form-group form-group-default required">
                    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>