<div class="row">
    <div class="col-md-10 col-md-offset-1 ">
        <h3 class="text-center">{{ vm.catalog.name }}</h3>
        <hr/>
        Start Date: {{ vm.catalog.start_date}} <br/>
        End date: {{ vm.catalog.end_date}} <br/>
        Description: {{ vm.catalog.description}} <br/>
        Estado:
        <span ng-if="vm.catalog.catalog_status == 0">
            <div style="height: 30px; width: 30px; background-color: #ac2925; margin-right: 10px;" class="pull-left"></div> Vencido
        </span>
        <span ng-if="vm.catalog.catalog_status == 1">
            <div style="height: 30px; width: 30px; background-color: #0F9D58; margin-right: 10px;" class="pull-left"></div> Vigente
        </span>
        <span ng-if="vm.catalog.catalog_status == 2">
            <div style="height: 30px; width: 30px; background-color: #03A9F4; margin-right: 10px;" class="pull-left"></div> En espera
        </span>

        <h4>Catalog Details</h4>
        <ul>
            <li ng-repeat="detail in vm.catalog_details">
                Product Name : {{ detail.product_name }} <br/>
                Price : $ {{ detail.custom_price }}
            </li>
        </ul>
    </div>
</div>