<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <p>Productos</p>
        </li>
        <li>
            <a class="active" >Listado de catalogos</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="col-sm-6 p-l-5">
        <h3 class="page-title">Listado de Catalogos</h3>
    </div>
    <div class="btn-group pull-right m-b-10">

              <span class="b-grey b-r p-l-15 p-r-15 ">
                  <button class="btn btn-info  btn-sm" type="button" ui-sref="catalog-create">
                      <i class="fa fa-plus"></i> Catalog
                  </button>
              </span>

              <span class="p-l-15 ">
                <div class="btn-group dropdown-default">
                    <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" href="#" style="width: 140px;"> Agregar...
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu " style="width: 140px;">
                        <li><a ui-sref="user-types">Tipo de usuario</a></li>
                    </ul>
                </div>
              </span>

    </div>
</div>
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg " cg-busy="vm.requestPromise">
    <!-- START PANEL -->
    <div class="panel panel-default " >

        <div class="panel-heading">
            <div class="col-md-5  m-b-30">
                <div class="input-group transparent">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search text..." class="form-control" ng-model="vm.search_text" ng-change="vm.change_search_text()"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-xs" ng-click="vm.clear_text()" ng-show="vm.search_text != '' ">X</button>
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Filtrar Por <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-filter" role="menu">
                            <li ng-click="vm.search_field = 'name';" ng-class="{active: vm.search_field == 'name'}">Name</li>
                            <li ng-click="vm.search_field = 'start_date';" ng-class="{active: vm.search_field == 'start_date'}">Start Date</li>
                            <li ng-click="vm.search_field = 'end_date';" ng-class="{active: vm.search_field == 'end_date'}">End Date</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="btn-group col-md-3 ">
                <div class="pull-right">
                    <span class="b-grey  p-l-15 ">
                      <div class="btn-group ">
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-save"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-copy"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-clipboard"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-paperclip"></i>
                          </button>
                      </div>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" >
            <div class="table-responsive">
                <table class="table table-hover"  ng-table="vm.tableParams">
                    <tr ng-repeat="catalog in $data">
                        <td class="col-md-1 v-align-middle text-center" >
                            <span ng-if="catalog.catalog_status == 0">
                                <div style="height: 30px; width: 30px; background-color: #ac2925; border-radius: 50%;"></div>
                            </span>
                            <span ng-if="catalog.catalog_status == 1">
                                <div style="height: 30px; width: 30px; background-color: #0F9D58; border-radius: 50%;"></div>
                            </span>
                            <span ng-if="catalog.catalog_status == 2">
                                <div style="height: 30px; width: 30px; background-color: #03A9F4; border-radius: 50%;"></div>
                            </span>
                        </td>
                        <td class="col-md-4 v-align-middle" data-title="'Name'" sortable="'name'">{{ catalog.name }}</td>
                        <td class="col-md-2 v-align-middle" data-title="'Start Date'" sortable="'start_date'">{{ catalog.start_date}}</td>
                        <td class="col-md-2 v-align-middle" data-title="'End Date'" sortable="'end_date'">{{ catalog.end_date }}</td>
                        <td class="col-md-3 v-align-middle text-center" data-title="'Actions'" >
                            <a ui-sref="catalog-detail({id:'{{catalog.id}}'})" class="btn btn-xs"><i class="fa fa-eye"></i></a>
                            <span ng-if="catalog.catalog_status != 0">
                                <a ui-sref="catalog-update({id:'{{catalog.id}}'})" class="btn btn-xs"><i class="fa fa-pencil"></i></a>
                                <span ng-if="catalog.catalog_status == 2">
                                      <button class="btn btn-xs" ng-really-message="Are you sure ?" ng-really-click="vm.destroy(catalog)" item="catalog"><i class="pg-trash"></i></button>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>



