<div class="row">
    <div class="col-md-10 col-md-offset-1 ">
        <h3 class="text-center">Creando catalogo {{ vm.catalog.name }}</h3>
        <hr/>
        <form role="form" ng-submit="vm.submit()" enctype="multipart/form-data">

            <div class="col-md-6">
                <!-- catalog NAME -->
                <div class="form-group form-group-default required">
                    <label for="catalog__name">Name</label>
                    <input class="form-control" type="text" id="catalog__name" ng-model="vm.catalog.name"/>
                </div>
                <!-- START AND END DATE -->
                <div class="form-group form-grou-default required">
                    <label>Start and End date</label>
                    <div class="input-daterange input-group" id="datepicker-range">
                        <input ng-model="vm.catalog.start_date"
                               class="input-sm form-control"
                               id="datepicker-component2"
                               data-date-format="yyyy-mm-dd"
                               placeholder="Fecha de inicio"
                               data-provide="datepicker">
                        <span class="input-group-addon">to</span>
                        <input ng-model="vm.catalog.end_date"
                               class="input-sm form-control"
                               id="datepicker-component3"
                               data-date-format="yyyy-mm-dd"
                               placeholder="Fecha de fin"
                               data-provide="datepicker">

                    </div>
                </div>
                <!-- Aumento en porcentajes -->
                <div class="form-group form-group-default required">
                    <label for="percent__increment">Aumento en comun (expresado en porcentaje)</label>
                    <input type="number" class="form-control" ng-change="vm.changeFactor()" ng-model="vm.catalog.factor"/>
                </div>

            </div>
            <div class="col-md-6">
                <!-- catalog DESCRIPTION -->
                <div class="form-group form-group-default required">
                    <label for="catalog__description">Description</label>
                    <textarea style="min-height: 100px;" class="form-control" ng-model="vm.catalog.description">
                    </textarea>
                </div>
            </div>


            <div class="col-md-12">
                <h4>Select Product</h4>
                <!-- LIST TO PRODUCT -->


                <div class="table-responsive">
                    <table id="basicTable" class="table table-hover" role="grid">
                        <thead class="old">
                        <th class="v-align-middle">Name</th>
                        <th class="v-align-middle">SKU</th>
                        <th class="v-align-middle">Price</th>
                        <th class="v-align-middle">Select</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in vm.products">
                            <td class="v-align-middle" >{{ product.name }}</td>
                            <td class="v-align-middle">{{ product.sku }}</td>
                            <td class="v-align-middle" >
                                <div class="input-group" >
                                    <input type="number" class="form-control" ng-model="product.custom_price" ng-disabled="!product.edit_custom_price || !product.check"/>
                                    <span class="input-group-addon">
                                        <input type="checkbox" ng-model="product.edit_custom_price" ng-change="vm.changeEditCustomPrice(product)" ng-disabled="!product.check"/>
                                    </span>
                                </div>
                            </td>
                            <td class="v-align-middle">
                                <input type="checkbox" ng-model="product.check" ng-change="vm.changeProductCheck(product)"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </div>

            <hr/>
            <button type="submit" class="btn btn-primary pull-right">
                <i class="fa fa-floppy-o"></i> Crear
            </button>

        </form>
    </div>
</div>