<div class="form-group form-group-default " ng-class="{ required: attrRequired == 'true' }">
    <label for="frm-{{ attrName }}" class="form-label">{{ attrName }} :</label>

    <div ng-if="attrType == 'TEXT'">
        <input type="text"
               class="form-control"
               name="frm-{{ attrName }}"
               ng-required="{{ attrRequired }}"
               ng-model="property_value"
               required-message="'El attributo {{ attrName }} es requerido!'"
               validate-on="blur"/>
    </div>

    <div ng-if="attrType == 'TEXTAREA'">
        <textarea class="form-control"
                  name="frm-{{ attrName }}"
                  ng-required="{{ attrRequired }}"
                  ng-model="property_value"
                  required-message="'El attributo {{ attrName }} es requerido!'"
                  validate-on="blur">
        </textarea>
    </div>
    <div ng-if="attrType == 'NUMBER'">
        <input type="number"
               class="form-control"
               name="frm-{{ attrName }}"
               ng-required="{{ attrRequired }}"
               ng-model="property_value"
               required-message="'El attributo {{ attrName }} es requerido!'"
               validate-on="blur" />
    </div>

    <div ng-if="attrType == 'LIST'">
        <ul>
            <li ng-repeat="opt in list_values">
                <input type="checkbox" ng-model="option[$index]" name="{{ opt }}"
                       ng-change="change_select_value(opt, option[$index])" />{{ opt }}
            </li>
        </ul>

    </div>

    <div ng-if="attrType == 'LIST-SELECT'">
        <select class="form-control"
                name="frm-{{ attrName }}"
                ng-model="property_value"
                ng-required="{{ attrRequired }}"
                required-message="'El attributo {{ attrName }} es requerido!'"
                validate-on="blur">
            <option>Select... </option>
            <option ng-repeat='opt in list_values'>{{ opt }}</option>
        </select>
    </div>
</div>