<!-- USER USER_TYPE -->
<div class="form-group form-group-default" ng-class="{required: selectRequired }">
    <label for="{{ aModel }}">{{ label }}</label>
    <!-- SELECT USER TYPE -->
    <select name="{{ aModel }}"
             class="form-control"
             ng-model="itemSelected"
             ng-required="{{ selectRequired }}"
             required-message="'El attributo {{ label }} es requerido!'"
             validate-on="blur" data-ng-options="obj.id as obj[name] for obj in objects">
        </select>
</div>