{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Datos Requeridos {% endblock %}

{% block body_block %}
    <h1 class="text-center"> Datos Requeridos </h1>
    <hr/>
    {% bootstrap_messages %}
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "save" %} Submit
                </button>
            {% endbuttons %}
        </form>
    </div>


{% endblock %}