{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Register {% endblock %}


{% block body_block %}

    <h1 class="text-center"> Register </h1>
    <a href="/login/" style="font-style: normal; position: fixed; left: 10px; top: 4px" class="pull-left"><h3 style="color: #9d9d9d;"><i class="glyphicon glyphicon-chevron-left"></i> Login</h3></a>

    <hr/>
    {% bootstrap_messages %}
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-lg btn-primary pull-right" type="submit">Register</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}