<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <p>Usuarios</p>
        </li>
        <li><a href="#" class="active">Listado de usuarios</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="col-sm-6 p-l-5">
        <h3 class="page-title">Listado de Usuarios</h3>
    </div>
    <div class="btn-group pull-right m-b-10">

              <span class="b-grey b-r p-l-15 p-r-15 ">
                  <button class="btn btn-info btn-sm" type="button" ng-click="vm.objNew = !vm.objNew;">
                      <i class="fa fa-plus"></i> Usuario
                  </button>
              </span>
              <span class="b-grey b-r p-l-15 p-r-15 ">
                    <button class="btn btn-info  btn-sm" type="button" ng-click="vm.objNewEmail = !vm.objNewEmail">
                        <i class="fa fa-paper-plane-o"></i> Invitar usuario
                    </button>
              </span>

              <span class="p-l-15 ">
                <div class="btn-group dropdown-default">
                    <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" href="#" style="width: 140px;"> Agregar...
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu " style="width: 140px;">
                        <li><a ui-sref="user-types">Tipo de usuario</a></li>
                    </ul>
                </div>
              </span>

    </div>
</div>
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg " cg-busy="vm.requestPromise">
    <!-- START PANEL -->
    <div class="panel panel-default " >

        <div class="panel-heading">
            <div class="col-md-5  m-b-30">
                <div class="input-group transparent">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search text..." class="form-control" ng-model="vm.search_text" ng-change="vm.change_search_text()"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-xs" ng-click="vm.clear_text()" ng-show="vm.search_text != '' ">X</button>
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Filtrar Por <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-filter" role="menu">
                            <li ng-click="vm.search_field = 'first_name';" ng-class="{active: vm.search_field == 'first_name'}">First Name</li>
                            <li ng-click="vm.search_field = 'last_name';" ng-class="{active: vm.search_field == 'last_name'}">Last Name</li>
                            <li ng-click="vm.search_field = 'email';" ng-class="{active: vm.search_field == 'email'}">Email</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="btn-group col-md-3 ">
                <div class="pull-right">
                    <span class="b-grey  p-l-15 ">
                      <div class="btn-group ">
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-save"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-copy"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-clipboard"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-paperclip"></i>
                          </button>
                      </div>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" >
            <div class="table-responsive">
                <table class="table table-hover"  ng-table="vm.tableParams">
                    <tr ng-repeat="user in $data">
                        <td class="col-md-5 v-align-middle"
                            data-title="'Name'"
                            sortable="'last_name'" >{{ user.last_name }},{{ user.first_name }}</td>
                        <td class="col-md-5 v-align-middle" data-title="'Email'" sortable="'email'">{{ user.email }}</td>
                        <td class="col-md-2 v-align-middle col-md-2 text-center" data-title="'Actions'">
                            <!--<a ng-click="vm.detail_user(user)" class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye"></i></a>-->
                        <span ng-if="user.user_status != 0">
                            <button class="btn btn-xs" ng-really-message="Are you sure ?" ng-really-click="vm.destroy(user)" item="user"><i class="pg-trash"></i></button>
                            <button ng-click="vm.edit_obj(user)"  class="btn btn-xs"><i class="pg-arrow_lright_line_alt"></i></button>
                        </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<pageslide ps-open="vm.objEdit" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/user/templates/update-user.html"  controller-name="UpdateUserController as vm">
    </div>
</pageslide>

<pageslide ps-open="vm.objNew" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/user/templates/new-user.html" controller-name="NewUserController as vm">
    </div>
</pageslide>

<pageslide ps-open="vm.objNewEmail" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/user/templates/new-user-by-email.html" controller-name="NewUserEmailController as vm">
    </div>
</pageslide>
