<div class="panel panel-default" style="height: 100%;">

<div class="panel-heading">
    <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
    <h4 class="text-center"><span class="semi-bold">Agregar</span> Usuario</h4>
</div >
<div class="panel-body" cg-busy="vm.requestPromise">
<form role="form" angular-validator-submit="vm.submit()" name="formCreateUser" enctype="multipart/form-data" novalidate angular-validator>
<ul class="nav nav-tabs nav-tabs-simple p-b-10" role="tablist">
    <li ng-class="{active: vm.tab == 1 }"><a ng-click="vm.tab = 1;" >Datos de <br/> Perfil</a></li>
    <li ng-class="{active: vm.tab == 2 }"><a ng-click="vm.tab = 2;" >Datos de <br/> Contacto</a></li>
    <li ng-class="{active: vm.tab == 3 }"><a ng-click="vm.tab = 3;" >Informacion <br/> Adicional</a></li>
</ul>
<div ng-show="vm.tab == 1" ng-class="{active: vm.tab == 1 }">
    <div class="row ">
        <div class="col-md-12">

            <div class="row">
                <div class="col-sm-6">
                    <!-- FIRST_NAME -->
                    <div class="form-group form-group-default required">
                        <label>Nombre</label>
                        <input type="text"
                               name="first_name"
                               class="form-control"
                               ng-model="vm.obj.first_name"
                               ng-required="true"
                               ng-minlength="3"
                               invalid-message="'Caracteres minimo: 3.'"
                               required-message="'Este campo es requerido!'"
                               validate-on="blur"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- LAST_NAME -->
                    <div class="form-group form-group-default">
                        <label>Apellido</label>
                        <input type="text"
                               class="form-control"
                               name="last_name"
                               ng-model="vm.obj.last_name"
                               ng-required="true"
                               ng-minlength="3"
                               invalid-message="'Caracteres minimo: 3.'"
                               required-message="'Este campo es requerido!'"
                               validate-on="blur"
                                />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- USER BIRTH DATE -->
                <div class="form-group form-group-default input-group col-sm-12 required">
                    <label for="user__birth_date">Fecha de nacimiento</label>
                    <!-- TODO: When set input doesnt automatic closed -->
                    <input ng-model="vm.obj.birth_date"
                           class="form-control"
                           id="datepicker-component2"
                           data-date-format="yyyy-mm-dd"
                           placeholder="Selecciona una fecha"
                           data-provide="datepicker">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="form-group form-group-default required">
                <label>Rol</label>
                <select name="user_type"
                        ng-model="vm.obj.user_type"
                        ng-required="true"
                        class="form-control"
                        required-message="'El campo tipo de usuario es requerido.'"
                        select-service services="/api/users/types/"
                        ></select>
            </div>
            <div class="form-group checkbox check-success" ng-if="vm.user_auth.has_children == 'True'">
                <!-- CHECK CUSTOM USER FATHER -->
                <input type="checkbox" ng-model="vm.custom_user_father" />
                <label ng-click="vm.custom_user_father = !vm.custom_user_father;">Seleccionar usuario responsable</label>
            </div>
            <!-- SELECT CUSTOM USER FATHER-->
            <div class="form-group form-group-default required" ng-show="vm.custom_user_father">
                <label for="user_father">Responsable</label>
                <select name="user_father"
                        ng-model="vm.obj.user_father"
                        ng-required="vm.custom_user_father"
                        class="form-control"
                        required-message="'El usuario es requerido..'"
                        select-service services="/api/users/childrens/"
                        attr-name="last_name"
                        ></select>
            </div>
            <div class="form-group checkbox check-success  ">
                <!-- IS_STAFF -->
                <input type="checkbox" name="is_staff" ng-model="vm.obj.is_staff" ng-change="vm.change_is_staff()"/>
                <label for="is_staff" ng-click="vm.obj.is_staff = !vm.obj.is_staff;">Permitir que esta persona pueda acceder al sistema</label>
                <br>
                <p class="small hint-text">(Se le enviará un email con los datos de acceso)</p>
            </div>
            <div class="form-group form-group-default required " ng-show="vm.obj.is_staff">
                <label>Email</label>
                <!-- ICON EMAIL IS VALID -->
                <i class="fa fa-check check-field"
                   tooltips
                   tooltip-size="small"
                   tooltip-title="El email esta habilitado."
                   tooltip-side="top"
                   ng-if="vm.email_is_valid">
                </i>
                <!-- INPUT EMAIL -->
                <input type="email"
                       class="form-control"
                       name="email"
                       ng-required="vm.obj.is_staff"
                       ng-model="vm.obj.email"
                       ng-model-options="{ updateOn: 'blur' }"
                       invalid-message="'El email ya existe.'"
                       validator = "!vm.email_error"
                       required-message="'Si el usuario pertenece al sistema este campo es requerido!'"
                       validate-on="dirty"/>
            </div>

        </div>
    </div>
</div >
<div ng-show="vm.tab == 2" ng-class="{active: vm.tab == 2 }">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <!-- SECTION PHONES -->
                <label class="label-form"> Telefonos  </label>
                <!-- BUTTON ADD PHONE -->
                <button class="btn btn-complete btn-xs pull-right"
                        tooltip-size="small"
                        tooltips
                        tooltip-title="Agrega nuevos telefonos."
                        tooltip-side="top"
                        ng-click="vm.add_phone()"
                        type="button">
                    <i class="fa fa-plus"></i>
                </button>
                <div class="form-inline" ng-repeat="phone in vm.obj.phones">
                    <!-- INPUT SELECT PHONE -->
                    <select name="phone_type"
                            ng-required="true"
                            ng-model="phone.type_phone"
                            class="form-control">
                        <option value="TEL">TEL</option>
                        <option value="CEL">CEL</option>
                        <option value="FAX">FAX</option>
                    </select>
                    <!-- INPUT NUMBER PHONE -->
                    <input ng-required="true" style="width: 200px;" type="number" ng-model="phone.number" class="form-control" placeholder="(223)-22333"/>
                    <!-- BUTTON DELETE PHONE -->
                    <button class="btn btn-xs btn-danger"
                            ng-if="vm.obj.phones.length > 1"
                            ng-click="vm.delete_phone(phone)"
                            type="button"
                            tooltips
                            tooltip-title="Elmina el telefono."
                            tooltip-side="top"
                            tooltip-size="small"
                            tooltip-show-trigger="mouseover"
                            tooltip-hide-trigger="mouseout click">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <hr/>
                <!-- SECTION ADDRESSES -->
                <label class="label-form"> Direcciones </label>
                <!-- BUTTON ADD ADDRESS -->
                <button class="btn btn-xs btn-complete pull-right"
                        tooltip-size="small"
                        tooltips
                        tooltip-title="Agrega nuevas direcciones."
                        tooltip-side="top"
                        ng-click="vm.add_address()"
                        type="button">
                    <i class="fa fa-plus"></i>
                </button>
                <div class="form-inline" ng-repeat="address in vm.obj.addresses">
                    <select name="address_city{{ $index }}"
                            ng-model="address.city"
                            class="form-control"
                            select-service services="/api/utils/cities/"
                            ></select>
                    <!-- INPUT STREET -->
                    <input type="text"
                           ng-model="address.street"
                           placeholder="Calle"
                           class="form-control"
                           placeholder="Nombre de calle"/>
                    <!-- INPUT ADDRESS NUMBER -->
                    <input type="number"
                           style="width: 100px;"
                           ng-model="address.number"
                           class="form-control"
                           placeholder="Numero">
                    <!-- INPUT CHECKBOX ADDRESS DEFAULT -->
                    <input type="checkbox" ng-model="address.default" ng-change="vm.on_change_address_default(address)">
                    <!-- BUTTON DELETE ADDRESS -->
                    <button class="btn btn-xs btn-danger"
                            ng-click="vm.delete_address(address)"
                            ng-if="vm.obj.addresses.length > 1"
                            type="button"
                            tooltips
                            tooltip-title="Elmina la direccion."
                            tooltip-side="top"
                            tooltip-size="small"
                            tooltip-show-trigger="mouseover"
                            tooltip-hide-trigger="mouseout click">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div ng-show="vm.tab == 3" ng-class="{active: vm.tab == 3 }">
    <div class="row">
        <div class="col-md-12">
            <!-- PROPERTIES -->
            <div ng-repeat="prop in vm.properties">
                <!-- DIRECTIVE TO RENDER DYNAMIC ATTRIBUTE -->
                <dynamic-field attr-model="properties"
                               attr-name="{{ prop.attr_name }}"
                               attr-values="{{ prop.attr_values }}"
                               attr-type="{{ prop.attr_type }}"
                               attr-required="{{ prop.attr_required }}"
                               attr-default="{{ prop.attr_default }}"
                               attr-id="{{ prop.id }}"
                               attr-value="{{ prop.value }}"
                               ng-if="prop.attr_type != 'LIST'">
                </dynamic-field>
                <!-- DIRECTIVE TO RENDER DYNAMIC ATTRIBUTE (When is list, patch in attribute type) -->
                <dynamic-field attr-model="properties"
                               attr-name="{{ prop.attr_name }}"
                               attr-values="{{ prop.attr_values }}"
                               attr-type="{{ prop.attr_type }}-SELECT"
                               attr-required="{{ prop.attr_required }}"
                               attr-default="{{ prop.attr_default }}"
                               attr-id="{{ prop.id }}"
                               attr-value="{{ prop.value }}"
                               ng-if="prop.attr_type == 'LIST'">
                </dynamic-field>
            </div>
        </div>
    </div>
</div>
<div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
    <div class="text-center">
        <button class="btn btn-success" type="submit" ng-disabled="formCreateUser.$invalid"><i class="pg-save"></i> Guardar</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()"><i class="pg-close"></i> Cancelar</button>
    </div>

</div>
</form>
</div>
</div>
