<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Invitar</span> Usuario</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">
        <form role="form" angular-validator-submit="vm.submit()" name="formCreateUser" enctype="multipart/form-data" novalidate angular-validator>
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-group form-group-default required ">
                        <label>Email</label>
                        <!-- ICON EMAIL IS VALID -->
                        <i class="fa fa-check check-field"
                           tooltips
                           tooltip-size="small"
                           tooltip-title="El email esta habilitado."
                           tooltip-side="top"
                           ng-if="vm.email_is_valid">
                        </i>
                        <!-- INPUT EMAIL -->
                        <input type="email"
                               class="form-control"
                               name="email"
                               ng-required="vm.obj.is_staff"
                               ng-model="vm.obj.email"
                               ng-model-options="{ updateOn: 'blur' }"
                               invalid-message="'El email ya existe.'"
                               validator = "!vm.email_error"
                               required-message="'Si el usuario pertenece al sistema este campo es requerido!'"
                               validate-on="dirty"/>
                    </div>
                </div>
            </div>

            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formCreateUser.$invalid"><i class="fa fa-paper-plane"></i> Enviar</button>
                    <button class="btn btn-default" type="button" ng-click="vm.cancel()"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>