<!DOCTYPE html>
<html >
<head>
    {% load jsonify %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Nubiquo</title>

    {% include 'dashboard/stylesheets.html' %}
    <base href="/" />

</head>
<div id="loading" style="display: block; padding-top: 50px;">
        <div style="background-image:url('/static/image/load-nubiquo.gif');background-position:50%;background-repeat:no-repeat">

	<div style="text-align:center;font-size:26px;position:absolute;top:50px;width:100%;text-shadow:1px 1px 2px white, -1px -1px 2px white,-4px 4px 4px white,-4px 4px 4px white">Iniciando</div>

</div>
    </div>
<body id="dashboard-body" class="fixed-header windows desktop pace-done menu-behind" style="display: none;" ng-app="app">
{% include 'dashboard/sidebar.html' %}

<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START PAGE HEADER WRAPPER -->

    {% include 'dashboard/header.html' %}

    <!-- END PAGE HEADER WRAPPER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content" ui-view>
            <div class="container-fluid container-fixed-lg ">
                <ul class="breadcrumb">
                    <li>
                        <p>home</p>
                    </li>
                    <li><a href="#" class="active">Plain template</a>
                    </li>
                </ul>
                <!-- END BREADCRUMB -->
                <h3 class="page-title">Page Title</h3>
            </div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <div class="row" >
                    <!-- PAGE CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div notifications="bottom right" ></div>-->
<div class="snackbar-container" data-snackbar="true"></div>



{% include 'dashboard/javascripts.html' %}





</body>
</html>