{% load staticfiles %}
{% load jsonify %}

<!-- ################################################ THIRD PACKAGES ################################################ -->

<!-- JQUERY -->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

<script>

        $( document ).ready(function() {
            $("#loading").css('display', 'none');
            $("#dashboard-body").css('display', 'block');
        });
    </script>

<!-- BOOTSTRAP -->
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- ANGULAR -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>

<!-- MANAGER ROUTER -->
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>

<!-- NOSE -->
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>

<!-- EASY AND CUSTOMIZABLE POP UP DIALOG -->
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>

<!-- DIRECTIVE TO UPLOAD FILE -->
<script type="text/javascript" src="{% static 'bower_components/angular-file-model/angular-file-model.js' %}"></script>

<!-- ALERT NOTIFICATION -->
<script type="text/javascript" src="{% static 'bower_components/angular-snackbar/angular.snackbar.min.js' %}"></script>

<!-- LOAD PROMISE -->
<script type="text/javascript" src="{% static 'bower_components/angular-busy/dist/angular-busy.min.js' %}"></script>

<!-- DATE PICKER -->
<script type="text/javascript" src="{% static 'bower_components/angularjs-datepicker/dist/angular-datepicker.min.js' %}"></script>

<!-- TOOLTIP -->
<script type="text/javascript" src="{% static 'bower_components/angular-tooltips/dist/angular-tooltips.min.js' %}"></script>

<!-- VALIDATOR -->
<script type="text/javascript" src="{% static 'bower_components/tg-angular-validator/dist/angular-validator.min.js' %}"></script>

<!-- TABLES RECOMPILAR ANTES DE USER EL MIN -->
<script type="text/javascript" src="{% static 'bower_components/ng-table/dist/ng-table.js' %}"></script>

<!-- PANELS -->
<script type="text/javascript" src="{% static 'bower_components/angular.panels/dist/angular.panels.min.js' %}"></script>

<!-- SLIDE PAGE -->
<script type="text/javascript" src="{% static 'bower_components/ng-pageslide/dist/angular-pageslide-directive.min.js' %}"></script>

<!-- PROVIDER TO $localStore and $sessionStore -->
<script type="text/javascript" src="{% static 'bower_components/ngstorage/ngStorage.min.js' %}"></script>

<!-- PACKAGES REQUIRES THEME -->
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/classie/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery.scrollbar/jquery.scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-select2/select2.min.js' %}"></script>



<script>
    angular.module('app.authentication', [
            ])
            .factory('Authentication', function(){
                // Print user data with django

                var user = {{ user_data|jsonify }};
                console.log(user);
                var Authentication = {
                    getUser: getUser,
                    setCompanyName: setCompanyName,
                    unauthenticate: unauthenticate,
                    getPermissions: getPermissions
                }

                function getUser(){
                    return user;
                }
                function setCompanyName(name){
                    user.company_name = name;
                }

                function hasChildren(){
                    return user.has_children = "True";
                }

                function unauthenticate(){

                    delete user;
                }

                function getPermissions(){
                    return user.permissions;
                }

                return Authentication;
            });

</script>




<!-- ################################################ MY PACKAGES ################################################ -->

<script type="text/javascript" src="{% static 'theme/js/pages.js' %}"></script>
<script type="text/javascript" src="{% static 'js//form_elements.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>



<!-- ###################### APP ###################### -->
<script type="text/javascript" src="{% static 'dashboard/app.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/app.config.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/app.routes.js' %}"></script>

<!-- ###################### END APP ###################### -->

<!-- ###################### MODULE AUTHENTICATION ######################
<script type="text/javascript" src="{% static 'dashboard/modules/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/authentication/controllers/login.controller.js' %}"></script>-->
<!-- ###################### END MODULE AUTHENTICATION ###################### -->

<!-- ###################### MODULE PROFILE  ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/profile/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/profile/controllers/panel.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/profile/controllers/update-profile.controller.js' %}"></script>
<!-- ###################### END MODULE PROFILE ###################### -->

<!-- ###################### MODULE COMPANY ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/company/company.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/company/services/company.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/company/controllers/data-required.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/company/controllers/update-company.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/company/controllers/settings.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/company/controllers/config-attr.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/company/controllers/config-attr-user.controller.js' %}"></script>
<!-- ###################### END MODULE COMPANY ###################### -->

<!-- ###################### MODULE LAYOUT ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/layout/controllers/navbar.controller.js' %}"></script>
<!-- ###################### END MODULE LAYOUT ###################### -->

<!-- ###################### MODULE UTILS ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/utils.module.js' %}"></script>

<!-- Directive to easy add message confirm -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/alert-notification.directive.js' %}"></script>

<!-- Directive Dynamic field -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/dynamic-field.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/utils/controllers/dynamic-field.controller.js' %}"></script>

<!-- Directive Select dynamic data to services -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/select-service.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/dynamic-select-service.directive.js' %}"></script>
<!-- Directive message confirmation click -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/really-click.directive.js' %}"></script>

<!-- Directive to read csv file -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/read-csv.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/template-directive.js' %}"></script>

<!-- Directive to upload multiple images -->
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/upload-file-client.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/utils/directives/upload-multiple-images.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/utils/controllers/upload-multiple-images.controller.js' %}"></script>
<!-- ###################### END MODULE UTILS ###################### -->



<!-- ###################### MODULE PRODUCT ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/product/product.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/product/controllers/new-product.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/product/controllers/list-product.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/product/controllers/update-product.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/product/controllers/import-csv-product.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/product/services/product.service.js' %}"></script>
<!-- ###################### END MODULE PRODUCT ###################### -->

<!-- ###################### MODULE CATEGORY ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/category/category.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/category/controllers/new-category.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/category/controllers/update-category.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/category/controllers/list-category.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/category/services/category.service.js' %}"></script>
<!-- ###################### END MODULE CATEGORY ###################### -->

<!-- ###################### MODULE CATALOG ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/catalog/catalog.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/catalog/controllers/new-catalog.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/catalog/controllers/list-catalog.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/catalog/controllers/detail-catalog.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/catalog/controllers/update-catalog.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/catalog/services/catalog.service.js' %}"></script>
<!-- ###################### END MODULE CATEGORY ###################### -->

<!-- ###################### MODULE PERMISSION ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/permission/permission.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/permission/controllers/new-permission.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/permission/controllers/list-permission.controller.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'dashboard/modules/permission/controllers/detail-permission.controller.js' %}"></script>-->
<script type="text/javascript" src="{% static 'dashboard/modules/permission/controllers/update-permission.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/permission/directives/permission-element.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/permission/services/permission.service.js' %}"></script>
<!-- ###################### END MODULE PERMISSION ###################### -->

<!-- ###################### MODULE PRICE LIST ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/price-list/price-list.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/price-list/controllers/new-price-list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/price-list/controllers/list-price-list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/price-list/controllers/update-price-list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/price-list/services/price-list.service.js' %}"></script>
<!-- ###################### END MODULE PRICE LIST ###################### -->

<!-- ###################### MODULE USER TYPE ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/user-type/user-type.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user-type/controllers/new-user-type.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user-type/controllers/list-user-type.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user-type/controllers/update-user-type.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user-type/services/user-type.service.js' %}"></script>
<!-- ###################### END MODULE USER TYPE ###################### -->


<!-- ###################### MODULE USER  ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/user/user.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user/controllers/new-user.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user/controllers/list-user.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user/controllers/update-user.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user/controllers/new-user-email.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/user/services/user.service.js' %}"></script>
<!-- ###################### END MODULE USER ###################### -->


<!-- ###################### MODULE ORDER  ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/order/order.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/order/controllers/new-order.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/order/controllers/list-order.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/order/controllers/detail-order.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/order/services/order.service.js' %}"></script>
<!-- ###################### END MODULE ORDER ###################### -->

<!-- ###################### MODULE DISPATCH  ###################### -->
<script type="text/javascript" src="{% static 'dashboard/modules/dispatch/dispatch.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/dispatch/controllers/new-dispatch.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/dispatch/controllers/list-dispatch.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/dispatch/controllers/detail-dispatch.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/modules/dispatch/services/dispatch.service.js' %}"></script>
<!-- ###################### END MODULE DISPATCH ###################### -->
