<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" data-pages="sidebar">
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- BEGIN SIDEBAR HEADER -->
    <div class="sidebar-header">
        <img src="{{ logo }}" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR HEADER -->
    <!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-30">
                <a href="#" class="detailed" ui-sref="profile">
                    <span class="title">Perfil</span>
                    <span class="details">234 notifications</span>
                </a>
            <span class="icon-thumbnail "
                  ng-class="{'bg-info': ('profile' | includedByState) }">
                <i class="fa fa-home fa-lg"></i>
            </span>
            </li>
            <li class="">
                <a ui-sref="products">
                    <span class="title">Productos</span>
                </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('products' | includedByState) || ('categories' | includedByState )}">
                <i class="fa fa-flask fa-lg"></i>
            </span>
            </li>

            <li class="">
                <a ui-sref="users">
                    <span class="title">Usuarios</span>
                </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('user-types' | includedByState)  || ('users' | includedByState) }">
                <i class="fa fa-users fa-lg"></i>
            </span>
            </li>

            <li class="">
                <a ui-sref="catalogs">
                    <span class="title">Catalogos</span>
                </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('catalogs' | includedByState) || ('catalog-create' | includedByState) || ('catalog-update' | includedByState) || ('catalog-detail' | includedByState )}">
                <i class="fa fa-book fa-lg"></i>
            </span>
            </li>

            <li class="">
                <a ui-sref="price-lists">
                    <span class="title">Lista de precio</span>
                </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('price-lists' | includedByState)}">
                <i class="fa fa-list-alt fa-lg"></i>
            </span>
            </li>

            <li class="">
                <a ui-sref="orders">
                    <span class="title">Pedidos</span>
                </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('orders' | includedByState) || ('order-create' | includedByState) || ('order-detail' | includedByState)}">
                <i class="fa fa-shopping-cart fa-lg"></i>
            </span>
            </li>

            {% if user.is_company %}
                <li class="">
                    <a ui-sref="dispatchs">
                        <span class="title">Despachos</span>
                    </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('dispatchs' | includedByState) || ('dispatch-create' | includedByState) || ('dispatch-detail' | includedByState )}">
                <i class="fa fa-bus fa-lg"></i>
            </span>
                </li>

                <li class="">
                    <a ui-sref="permissions">
                        <span class="title">Permisos</span>
                    </a>
            <span class="icon-thumbnail" ng-class="{'bg-info': ('permissions' | includedByState)}">
                <i class="fa fa-cog fa-lg"></i>
            </span>
                </li>
            {% endif %}
            <li class="">
                <a href="javascript:;">
                    <span class="title">Page 3</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="pg-grid"></i>
                </span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="#">Sub Page 1</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                    <li class="">
                        <a href="#">Sub Page 2</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                    <li class="">
                        <a href="#">Sub Page 3</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->