{% load staticfiles %}

<!-- ######################### THIRD PACKAGES STYLE ######################### -->

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-table/dist/ng-table.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-busy/dist/angular-busy.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-snackbar/css/angular.snackbar.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tooltips/dist/angular-tooltips.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angularjs-datepicker/dist/angular-datepicker.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular.panels/dist/angular.panels.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jquery.scrollbar/jquery.scrollbar.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-datepicker/css/datepicker3.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-select2/select2.css' %}" />


<!-- ######################### THEME STYLE ######################### -->
<link rel="stylesheet" type="text/css" href="{% static 'theme/css/pages-icons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/css/pages.css' %}" />


<!--[if lte IE 9]>
        <link href="{% static 'pages/css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
<script type="text/javascript">
    window.onload = function()
    {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
            document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="{% static 'pages/css/windows.chrome.fix' %}" />'
    }
</script>

<!-- ######################### MY STYLE ######################### -->

 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />