<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Agregar</span> Permiso</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">
        <form role="form" angular-validator-submit="vm.submit()" name="formCreatePermission" enctype="multipart/form-data" novalidate angular-validator>
            <!-- permission_group NAME -->
            <div class="form-group form-group-default required">
                <label for="permission_group__name">Name</label>
                <input class="form-control"
                       type="text" name="permission_group__name"
                       ng-model="vm.obj.name"
                       ng-required="true"
                       ng-minlength="3"
                       invalid-message="'Caracteres minimo: 3.'"
                       required-message="'Este campo es requerido!'"
                       validate-on="blur"/>
            </div>
            <!-- permission_group DESCRIPTION -->
            <div class="form-group form-group-default required">
                <label for="permission_group__description">Description</label>
                <textarea class="form-control"
                          style="min-height: 100px;"
                          name="permission_group__name"
                          ng-model="vm.obj.description">
                </textarea>
            </div>

            <!-- LIST TO PRODUCT -->
            <table class="table">
                <thead>
                <tr>
                    <td>Modulo</td>
                    <td>Puede Listar</td>
                    <td>Puede ver Detalle</td>
                    <td>Puede Eliminar</td>
                    <td>Puede Crear</td>
                    <td>Puede Editar</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="permission in vm.obj.permissions">
                    <td>{{ permission.entity }}</td>
                    <td ng-repeat="action in permission.actions">
                        <input type="checkbox" ng-model="action.value" />
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formCreatePermission.$invalid"><i class="pg-save"></i> Guardar</button>
                    <button class="btn btn-default" type="button" ng-click="vm.cancel()"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>