<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <button class="btn btn-info btn-xs pull-right" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="fa fa-pencil"></i></button>
        <h4 class="text-center"><span class="semi-bold">Detalle</span> Tipo de Usuario</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">

        <!-- DETAIL USER TYPE -->
        <div class="col-md-10 col-md-offset-1" ng-if="!vm.objEdit">
            <h4>{{ vm.obj.name }}</h4>
            <hr/>
            <div class="col-md-8 col-md-offset-2">
                Description: {{ vm.obj.description}} <br/>
                Comision : {{ vm.obj.father }} %
            </div>
        </div>

        <form role="form" ng-if="vm.objEdit" angular-validator-submit="vm.submit()" name="formCreateCategory" enctype="multipart/form-data" novalidate angular-validator>
                <!-- CATEGORY NAME -->
                <div class="form-group form-group-default required">
                    <label for="category__name">Name</label>
                    <input class="form-control"
                           type="text"
                           name="category__name"
                           ng-model="vm.obj.name"
                           ng-required="true"
                           ng-minlength="3"
                           invalid-message="'Caracteres minimo: 3.'"
                           required-message="'Este campo es requerido!'"
                           validate-on="blur"/>
                </div>

                <!-- CATEGORY COLOR -->
                <div class="form-group form-group-default required">
                    <label for="category__color">Color</label>
                    <input class="form-control" type="color" id="category__color" required="true" ng-model="vm.obj.color"/>
                </div>

                <!-- CATEGORY DESCRIPTION -->
                <div class="form-group form-group-default">
                    <label for="category__description">Description</label>
                    <input row="3" class="form-control" id="category__description" ng-model="vm.obj.description" />

                </div>

                <div class="form-group form-group-default">
                    <label for="data_required__country_work">Category father</label>
                    <!--<selectservice services="" attr-model="category_father" ng-model="vm.obj.category_father" item-selected="{{ vm.obj.category_father }}"></selectservice>-->
                    <select name="category_father"
                            ng-model="vm.obj.category_father"
                            class="form-control"
                            select-service services="/api/products/categories/"
                            ></select>
                </div>


                <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formCreateUserType.$invalid"><i class="pg-save"></i> Guardar </button>
                    <button class="btn btn-default" type="button" ng-click="vm.objEdit = !vm.objEdit"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>






















<div class="panel panel-default" style="height: 100%;">

    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Agregar</span> Categoria</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">

    </div>
</div>
