<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% include 'dashboard/stylesheets.html' %}


<title>{% block title %}Nubiquo{% endblock %}</title>

</head>
<body>
    <div class="container">
        {% block body_block %}
            This is body_block's default content.
        {% endblock %}
    </div>
</body>
</html>