{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Create user by recomendation {% endblock %}


{% block body_block %}
    <h3 class="text-center"> Complete sus datos </h3>
    <hr/>
    {% bootstrap_messages %}
    <div class="col-md-6 col-md-offset-3">
        <form method="post" action="" role="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button class="btn btn-lg btn-primary pull-right" type="submit">Crear</button>
           {% endbuttons %}
        </form>
    </div>


{% endblock %}