{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Login {% endblock %}


{% block body_block %}
    <h1 class="text-center"> Login </h1>
    <a href="/companies/register/" style="font-style: normal; position: fixed; right: 10px; top: 4px" class="pull-right"><h3 style="color: #9d9d9d;">Register <i class="glyphicon glyphicon-chevron-right"></i></h3></a>
    <hr/>
    {% bootstrap_messages %}
    <div class="col-md-4 col-md-offset-4">
        <form method="post" action="." class="form-signin" role="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <button class="btn btn-lg btn-primary pull-right" type="submit">Sign in</button>
           {% endbuttons %}
        </form>
    </div>


{% endblock %}