<div class="panel panel-default" style="height: 100%;">
    <div class="panel-heading">
        <button type="button" ng-click="vm.close()" class="btn btn-xs pull-left"><i class="pg-arrow_lright_line_alt"></i></button>
        <h4 class="text-center"><span class="semi-bold">Editando</span> Perfil</h4>
    </div >
    <div class="panel-body" cg-busy="vm.requestPromise">
        <form role="form" angular-validator-submit="vm.submit()" name="formEditProfile" enctype="multipart/form-data" novalidate angular-validator>
            <!-- USER BIRTH DATE -->

            <!-- USER BIRTH DATE -->
            <div class="form-group form-group-default input-group col-sm-12 required">
                <label for="user__birth_date">Fecha de nacimiento</label>
                <!-- TODO: When set input doesnt automatic closed -->
                <input ng-model="vm.obj.birth_date"
                       class="form-control"
                       id="datepicker-component2"
                       data-date-format="yyyy-mm-dd"
                       placeholder="Selecciona una fecha"
                       data-provide="datepicker">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
            </div>


            <!-- SECTION PHONES -->
            <label class="label-form"> Telefonos  </label>
            <!-- BUTTON ADD PHONE -->
            <button class="btn btn-complete btn-xs pull-right"
                    tooltip-size="small"
                    tooltips
                    tooltip-title="Agrega nuevos telefonos."
                    tooltip-side="top"
                    ng-click="vm.add_phone()"
                    type="button">
                <i class="fa fa-plus"></i>
            </button>
            <div class="form-inline" ng-repeat="phone in vm.obj.phones">
                <!-- INPUT SELECT PHONE -->
                <select name="phone_type"
                        ng-required="true"
                        ng-model="phone.type_phone"
                        class="form-control">
                    <option value="TEL">TEL</option>
                    <option value="CEL">CEL</option>
                    <option value="FAX">FAX</option>
                </select>
                <!-- INPUT NUMBER PHONE -->
                <input ng-required="true" style="width: 200px;" type="number" ng-model="phone.number" class="form-control" placeholder="(223)-22333"/>
                <!-- BUTTON DELETE PHONE -->
                <button class="btn btn-xs btn-danger"
                        ng-if="vm.obj.phones.length > 1"
                        ng-click="vm.delete_phone(phone)"
                        type="button"
                        tooltips
                        tooltip-title="Elmina el telefono."
                        tooltip-side="top"
                        tooltip-size="small"
                        tooltip-show-trigger="mouseover"
                        tooltip-hide-trigger="mouseout click">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <hr/>
            <!-- SECTION ADDRESSES -->
            <label class="label-form"> Direcciones </label>
            <!-- BUTTON ADD ADDRESS -->
            <button class="btn btn-xs btn-complete pull-right"
                    tooltip-size="small"
                    tooltips
                    tooltip-title="Agrega nuevas direcciones."
                    tooltip-side="top"
                    ng-click="vm.add_address()"
                    type="button">
                <i class="fa fa-plus"></i>
            </button>
            <div class="form-inline" ng-repeat="address in vm.obj.addresses">
                <select name="address_city{{ $index }}"
                        ng-model="address.city"
                        class="form-control"
                        select-service services="/api/utils/cities/"
                        ></select>
                <!-- INPUT STREET -->
                <input type="text"
                       ng-model="address.street"
                       placeholder="Calle"
                       class="form-control"
                       placeholder="Nombre de calle"/>
                <!-- INPUT ADDRESS NUMBER -->
                <input type="number"
                       style="width: 100px;"
                       ng-model="address.number"
                       class="form-control"
                       placeholder="Numero">
                <!-- INPUT CHECKBOX ADDRESS DEFAULT -->
                <input type="checkbox" ng-model="address.default" ng-change="vm.on_change_address_default(address)">
                <!-- BUTTON DELETE ADDRESS -->
                <button class="btn btn-xs btn-danger"
                        ng-click="vm.delete_address(address)"
                        ng-if="vm.obj.addresses.length > 1"
                        type="button"
                        tooltips
                        tooltip-title="Elmina la direccion."
                        tooltip-side="top"
                        tooltip-size="small"
                        tooltip-show-trigger="mouseover"
                        tooltip-hide-trigger="mouseout click">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 bg-info-lighter builder-footer">
                <div class="text-center">
                    <button class="btn btn-success" type="submit" ng-disabled="formEditProfile.$invalid"><i class="pg-save"></i> Guardar</button>
                    <button class="btn btn-default" type="button" ng-click="vm.close()"><i class="pg-close"></i> Cancelar</button>
                </div>

            </div>
        </form>
    </div>
</div>