<style>
    .fileUpload {
        overflow: hidden;
        margin: 10px;
        position: absolute;
        right: 10px;
        top: -6px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>

<div class="container-fluid container-fixed-lg">
    <!--<div ng-show="vm.user.is_company == 'True'" class="row">
        <a class="btn btn-xs btn-info pull-right" ui-sref="company-update">Edit Company Information</a>
        <a class="btn btn-xs btn-info pull-right" ui-sref="config-attr-product">Custom Attribute Product</a>
        <a class="btn btn-xs btn-info pull-right" ui-sref="config-attr-user">Custom Attribute User</a>
    </div>-->
    <br/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2 col-sm-4 col-xs-12" cg-busy="vm.promise_img" ng-mouseover="vm.focus_img = true;" ng-mouseleave="vm.focus_img = false;">
                    <img src="{{ vm.user.img }}" class="avatar img-thumbnail" alt="avatar">

                    <div class="fileUpload btn btn-primary btn-xs" ng-show="vm.focus_img">
                        <span><i class="fa fa-upload"></i></span>
                        <input type="file" class="upload" file-model='img_profile' accept="image/*"/>
                    </div>
            </div>
            <div class="col-md-10 col-sm-6 col-xs-12 personal-info">

                <h3>Personal info</h3>
                <p>
                    Email : {{ vm.user.email }}
                </p>
                <p>
                    Name : {{ vm.user.first_name }}
                </p>
                <p>
                    Surname : {{ vm.user.last_name }}
                </p>
                <p>
                    Birth date : {{ vm.user.birth_date }}
                </p>
                <p>
                    Company : {{ vm.user.company_name }}
                </p>
                <button class="btn btn-xs btn-info pull-right" ng-click="vm.edit_obj()">Edit Profile</button>
            </div>
        </div>

    </div>

</div>

<pageslide ps-open="vm.objEdit" ps-size="50%" class="quickview-wrapper builder">
    <div template-path="/static/dashboard/modules/profile/templates/edit-profile.html" controller-name="UpdateProfileController as vm">
    </div>
</pageslide>