<div style="background-image:url('/static/image/load-nubiquo.gif');background-position:50%;background-repeat:no-repeat">

	<div style="text-align:center;font-size:26px;position:absolute;top:50px;width:100%;text-shadow:1px 1px 2px white, -1px -1px 2px white,-4px 4px 4px white,-4px 4px 4px white">{{$message}}</div>

</div>